.cs_error {
  color: red;
}

#cs_cart_widget_wrapper #cs_cart_widget_list {
  list-style-type: none;
}

#cs_cart_widget_wrapper #cs_cart_widget_list_item {
  list-style-image: none;
}

.cloudswipe .cloudswipe-form .ajax_button_notice {
  margin-top: 20px;
  display: block;
  padding-right: 10px !important;
}

.cloudswipe .cloudswipe-form .ajax_view_cart_button {
  margin-top: -3px;
}

.cs_close_message {
  display: block;
  float: right;
}